denoiser/__pycache__/*
denoiser/pretrained/*
denoiser/trainedModel/*
denoiser/output/*
denoiser/noiseExtract/*
reweigted/*
*.log
noise_synthesizer/pytorch-wgan-master/synthesized_grid/*
*.pyc
pipeline/__pycache__/*.pyc
topaz